[submodule "pipeline/lib/shotgun_api3"]
	path = pipeline/pipe/db/shotgun_api3
	url = https://github.com/shotgunsoftware/python-api.git
	ignore = dirty
[submodule "pipeline/software/maya/scripts/rjg"]
	path = pipeline/software/maya/scripts/rjg
	url = https://github.com/jgashler/rjg
	ignore = dirty
[submodule "pipeline/software/maya/scripts/dwpicker_git"]
	path = pipeline/software/maya/scripts/dwpicker_git
	url = https://github.com/DreamWall-Animation/dwpicker.git
[submodule "pipeline/software/maya/scripts/studiolibrary"]
	path = pipeline/software/maya/scripts/studiolibrary
	url = https://github.com/krathjen/studiolibrary.git
[submodule "pipeline/software/maya/scripts/modelChecker_git"]
	path = pipeline/software/maya/scripts/modelChecker_git
	url = https://github.com/JakobJK/modelChecker.git
[submodule "pipeline/software/maya/scripts/maya-timeline-marker_git"]
	path = pipeline/software/maya/scripts/maya-timeline-marker_git
	url = https://github.com/robertjoosten/maya-timeline-marker.git
